# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Learn\Article\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
